/* Import both fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=IBM+Plex+Sans+Thai:wght@100;400;700&display=swap');
@import "tailwindcss";

@theme {
  /* Set a stack: Inter first for English, IBM Plex for Thai fallback */
  --font-modern: "Inter", "IBM Plex Sans Thai", sans-serif;
  --color-primary: #00569C;
  --color-selection :#BEF3CD;
}

body {
  font-family: var(--font-modern);
  
}

::selection {
  /* Remove the color property to keep original text color */
  background: var(--color-secondary);
}

/* For Firefox support, use the -moz prefix as well */
::-moz-selection {
  background: var(--color-secondary);
}

body.overflow-hidden-modal {
  overflow: hidden !important;
  height: 100vh;
}